'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'State Machine cat Preview'
    'submenu': [
      'label': 'Toggle Preview'
      'command': 'state-machine-cat-preview:toggle'
    ]
  ]
]
'context-menu':
  '.state-machine-cat-preview': [
    {label: 'Copy As SVG', command: 'core:copy'}
    {label: 'Save As SVG\u2026', command: 'core:save-as'}
    {label: 'Save As PNG\u2026', command: 'state-machine-cat-preview:save-as-png'}
  ]
  # '.tree-view .file .name[data-name$=\\.smcat]':
  #   [{label: 'State Machine cat Preview', command:  'state-machine-cat-preview:preview-file'}]
