'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'StateGenny Preview'
    'submenu': [
      'label': 'Toggle Preview'
      'command': 'stategenny-preview:toggle'
    ]
  ]
]
'context-menu':
  '.stategenny-preview': [
    {label: 'Copy As SVG', command: 'core:copy'}
    {label: 'Save As SVG\u2026', command: 'core:save-as'}
    {label: 'Save As PNG\u2026', command: 'stategenny-preview:save-as-png'}
  ]
  # '.tree-view .file .name[data-name$=\\.stategenny]':
  #   [{label: 'StateGenny Preview', command:  'stategenny-preview:preview-file'}]
