'atom-workspace, atom-workspace atom-text-editor':
  'ctrl-G': 'stategenny-preview:toggle'

'.platform-darwin .stategenny-preview':
  'cmd-+': 'stategenny-preview:zoom-in'
  'cmd-=': 'stategenny-preview:zoom-in'
  'cmd--': 'stategenny-preview:zoom-out'
  'cmd-_': 'stategenny-preview:zoom-out'
  'cmd-0': 'stategenny-preview:reset-zoom'

'.platform-win32 .stategenny-preview, .platform-linux .stategenny-preview':
  'ctrl-+': 'stategenny-preview:zoom-in'
  'ctrl-=': 'stategenny-preview:zoom-in'
  'ctrl--': 'stategenny-preview:zoom-out'
  'ctrl-_': 'stategenny-preview:zoom-out'
  'ctrl-0': 'stategenny-preview:reset-zoom'
